extends base

block append tourHead 
    link(rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
        integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
        crossorigin="")
    script(src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
        integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
        crossorigin="")
    script(defer, src="./../ClientSideJS/mapbox.js")
    


mixin reviewCard(review)
    .reviews__card
        .reviews__avatar
            img.reviews__avatar-img(src=`/img/users/${review.user.photo}`, alt=`${review.user.name}`)
            h6.reviews__user= review.user.name
        p.reviews__text= review.text
        .reviews__rating
            each stat in [1, 2 , 3, 4, 5]
                svg.reviews__star(class= `reviews__star--${review.rating >= star ? "activ" : "inactive"}`)
                    use(xlink:href='/img/tours/icons.svg#icon-star')


mixin overviewBox(lable, text, icon)
    .overview-box__detail
        svg.overview-box__icon
          use(xlink:href=`/img/icons.svg#icon-${icon}`)
        span.overview-box__label= lable
        span.overview-box__text= text

block content 
    section.section-header
        .header__hero
            .header__hero-overlay &nbsp;
            img.header__hero-img(src=`/img/tours/${tour.imageCover}`, alt=`${tour.name}`)

        .heading-box
            h1.heading-primary
                span= `${tour.name} Tour`
            .heading-box__group
                .heading-box__detail
                    svg.heading-box__icon
                        use(xlink:href='/img/icons.svg#icon-clock')
                    span.heading-box__text= `${tour.duration}  days`
                .heading-box__detail
                    svg.heading-box__icon
                        use(xlink:href='/img/icons.svg#icon-map-pin')
                    span.heading-box__text= `${tour.startLocation.description}`

    section.section-description
        .overview-box
            div
                .overview-box__group
                    h2.heading-secondary.ma-bt-lg Quick facts
                    - const date = tour.startDates[0].toLocaleString("eng-UK", {month: "long", year: "numeric"});
                    +overviewBox("Next data", date, "calendar")
                    +overviewBox("Difficulty", tour.difficulty, "trending-up")
                    +overviewBox("Participants", `${tour.maxGroupSize} people`, "user")
                    +overviewBox("Rating", `${tour.ratingsAverage}/ 5`, "star")
                    .overview-box__detail
                    //- repeated code :
                    //- .overview-box__detail
                    //-     svg.overview-box__icon
                    //-         use(xlink:href='/img/icons.svg#icon-trending-up')
                    //-     span.overview-box__label Difficulty
                    //-     span.overview-box__text= `${tour.difficulty}`
                    //- .overview-box__detail
                    //-     svg.overview-box__icon
                    //-         use(xlink:href='/img/icons.svg#icon-user')
                    //-     span.overview-box__label Participants
                    //-     span.overview-box__text= `${tour.maxGroupSize} people`
                    //- .overview-box__detail
                    //-     svg.overview-box__icon
                    //-         use(xlink:href='/img/icons.svg#icon-star')
                    //-     span.overview-box__label Rating
                    //-     span.overview-box__text= `${tour.ratingsAverage}/ 5`

                .overview-box__group
                    h2.heading-secondary.ma-bt-lg Your tour guides
                    each guide in tour.guides
                        .overview-box__detail
                            img.overview-box__img(src=`/img/users/${guide.photo}`, alt=`${guide.name}`)
                            - if(guide.role ==="lead-guide")
                                span.overview-box__label Lead Guide
                            - if(guide.role === "guide")
                                span.overview-box__label Tour Guide
                            span.overview-box__text= guide.name
                

        .description-box
            h2.heading-secondary.ma-bt-lg= `About ${tour.name} tour`
            - const paragraphes = tour.description.split('\n');
            each p in paragraphes 
                p.description__text= p 
                //- p.description__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                //- p.description__text Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum!

    section.section-pictures
        each img, index in tour.images 
            .picture-box
                img.picture-box__img(src=`/img/tours/${img}`, alt=`The Park Camper Tour ${index + 1}`, class= `picture-box__img--${index + 1}`)
        
    section.section-map
        //- specify a data attribute by syaing data-whateveryaouwanttocallit, this will the be saved to dataset property which js has an access to it .
        #map(data-locations=`${JSON.stringify(tour.locations)}`)

    //- section.section-reviews
    //-     .reviews
    //-         each review in tour.reviews
    //-             +reviewCard(review)

    section.section-cta
        .cta
            .cta__img.cta__img--logo
                img(src='/img/logo-white.png', alt='Natours logo')
            img.cta__img.cta__img--1(src=`/img/tours/${tour.images[1]}`, alt='Tour pic')
            img.cta__img.cta__img--2(src=`/img/tours/${tour.images[2]}`, alt='Tour pic')
            .cta__content
                h2.heading-secondary What are you waiting for?
                p.cta__text=  `${tour.duration} days. 1 adventure. Infinite memories. Make it yours today!`
                if user && !alreadyBooked
                    button.btn.btn--green.span-all-rows#book-tour(data-tour-id=`${tour.id}`) Book tour now!
                else if alreadyBooked
                    a.btn.btn--green.span-all-rows(href="/myBookings") Already Booked this tour
                else
                    a.btn.btn--green.span-all-rows(href="/login") Login to Book tour!